header {
    margin-bottom: 0;
    padding: 10px;
}
header h6 {
    padding: 0 10px;
    margin: 0;
}
header .button-wrapper {
    text-align: center;
}
.none {
    display: none;
}
.hide {
    visibility: hidden;
}
